[submodule "util/bzip2"]
	path = util/bzip2
	url = https://gitlab.com/bzip2/bzip2.git
[submodule "util/OSM-binary"]
	path = util/OSM-binary
	url = https://github.com/openstreetmap/OSM-binary.git
[submodule "util/protozero"]
	path = util/protozero
	url = https://github.com/mapbox/protozero.git
[submodule "util/sparsehash"]
	path = util/sparsehash
	url = https://github.com/sparsehash/sparsehash.git
[submodule "util/libosmium"]
	path = util/libosmium
	url = https://github.com/osmcode/libosmium
